Flask==3.0.3
langchain==0.3.25
langchain-core==0.3.68
langchain-community==0.3.25
langgraph==0.2.39
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.2
groq==0.30.0
langchain-groq==0.3.6
langchain-tavily==0.2.10
mcp==1.12.1
langchain-mcp-adapters==0.1.9
fastmcp==2.8.1
requests==2.32.4
pydantic==2.10.6
pydantic-settings==2.10.1
SQLAlchemy==2.0.41
numpy==1.26.4
tenacity==8.5.0
PyYAML==6.0.2